:root {
  --color-primary: #4ff0c9;
  --color-secondary: #172a45;
  --color-white-alt: #ccd6f6;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* button.rec-dot {
  background-color: rgb(235, 16, 16);
  box-shadow: 0 0 1px 3px rgba(235, 16, 16, 0.5);
} */

button.rec-dot:hover,
button.rec-dot:active,
button.rec-dot:focus {
  box-shadow: 0 0 1px 3px rgba(235, 16, 16, 0.5);
}

.rec.rec-arrow {
  border-radius: 20px;
  background-color: white;
  color: #262a53;
}

.rec.rec-arrow:hover,
.rec.rec-arrow:active,
.rec.rec-arrow:focus {
  background-color: #262a53;
  color: white;
}
.rec-carousel-item:focus {
  box-shadow: inset 0 0 1px 1px #262a53;
}

.rec-carousel-item {
  background-color: #262a53;
}
